# MongoDB connection string, e.g:
# mongodb://localhost:27017
# mongodb+srv://user:password@cluster0.xxxxx.mongodb.net
MONGODB_URI=mongodb://localhost:27017/DICV

# Port for the API server
PORT=4000

# Comma separated list of database names to hide from the sidebar (system dbs are hidden by default)
HIDE_SYSTEM_DBS=true
